@font-face {
  font-family: "b nazanin";
  src: url("?view"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.eot?view#iefix")
      format("embedded-opentype"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.woff?view")
      format("woff"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.ttf?view")
      format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account {
  border: 2px black solid;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  font-family: "b nazanin";
}

.account i {
  margin-left: 10px;
}
.account span {
  cursor: pointer;
}

.pages {
  margin-right: 20px;
  cursor: pointer;
}
.pages i {
  margin: 20px;
}

.pages i:hover {
  color: cyan;
  transform: scale(1.5);
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 320px;
  background-color: #626c72;
  /* flex-wrap: wrap; */
  color: white;
  font-family: "b nazanin";
}

.info {
  width: 55%;

  /* word-break: break-all; */
  font-size: 1.2rem;
  margin-right: 50px;
}

.social-media {
  width: 35%;
  margin-bottom: 100px;
}
.social-media i {
  font-size: 2rem;
  margin-left: 80px;
  cursor: pointer;
}
.social-media i:hover {
  color: cyan;
}
.social-media h4 {
  font-size: 1.8rem;
  text-align: right;
  margin-bottom: 50px;
}
.info h4 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.carousel-inner {
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-inner img {
  height: 500px;
}
@media only screen and (max-width: 750px) {
  .navbar,
  .pages,
  .account {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1100px) {
  .social-media h4 {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    margin: auto;
  }
  .social-media i {
    font-size: 1.2rem;
  }
}
