@font-face {
  font-family: "b nazanin";
  src: url("?view"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.eot?view#iefix")
      format("embedded-opentype"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.woff?view")
      format("woff"),
    url("http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.ttf?view")
      format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(12px);
} */

nav {
  min-height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account {
  border: 2px black solid;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  font-family: "b nazanin";
}

.account i {
  margin-left: 10px;
}
.account span {
  cursor: pointer;
}

.pages {
  margin-right: 20px;
  cursor: pointer;
}
.pages i {
  margin: 20px;
}

.pages i:hover {
  color: cyan;
  transform: scale(1.5);
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 320px;
  background-color: #626c72;
  /* flex-wrap: wrap; */
  color: white;
  font-family: "b nazanin";
}

.info {
  width: 55%;

  /* word-break: break-all; */
  font-size: 1.2rem;
  margin-right: 50px;
}

.social-media {
  width: 35%;
  margin-bottom: 100px;
}
.social-media i {
  font-size: 2rem;
  margin-left: 80px;
  cursor: pointer;
}
.social-media i:hover {
  color: cyan;
}
.social-media h4 {
  font-size: 1.8rem;
  text-align: right;
  margin-bottom: 50px;
}
.info h4 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-inner {
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-inner img {
  height: 600px;
  background-size: contain;
}
.container {
  margin-bottom: 20px;
  text-align: right;
}
.text {
  display: inline-block;
  justify-content: flex-end;
  font-family: "b nazanin";
  font-size: 1.6rem;
  border-bottom: 2px red solid;
  margin-bottom: 10px;
  margin-right: 12px;
}
.sec {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.items {
  height: 350px;
  width: 300px;
  margin: 12px;
  box-shadow: 0px 0px 10px 0px rgb(32, 10, 10);
  transition-duration: 1.2s;
  border-radius: 3px;
  cursor: pointer;
}

.checked {
  color: orange;
}
.star {
  padding: 15px;
  float: left;
}
.pish {
  margin-top: 15px;
  font-family: "b nazanin";
  font-size: 1.3rem;
  background-color: #fb5a39;
  margin-left: 65px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.one {
  background-image: url("https://janebi.com/janebi/9fd2/files/251665_260x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.two {
  background-image: url("https://janebi.com/janebi/9fd2/files/280618_260x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.product-price {
  background-color: green;
  color: white;
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  padding: 8px;
  border-radius: 5px;
  transition: all 1.2s;
  float: left;
  cursor: pointer;
}
.product-p {
  display: none;
  transition: all 1s;
}
.product-price:hover .product-p {
  display: inline;
  margin-left: -2rem;
}
.product-p:hover {
  padding-left: 3rem;
}

.price {
  padding-left: 10px;
}
.title {
  display: inline-block;
  padding-top: 210px;
  padding-right: 30px;
}
.titlep {
  padding-top: 210px;
  padding-right: 30px;
}
.gheymat {
  padding-top: 8px;
  padding-right: 10px;
  font-family: "b nazanin";
  font-size: 1.4rem;
}
.items:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 750px) {
  .navbar,
  .pages,
  .account {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1100px) {
  .social-media h4 {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    margin: auto;
  }
  .social-media i {
    font-size: 1.2rem;
  }
}
